/* Google Font poppins */
@import url("https://fonts.googleapis.com/css2?family=Poppins&display=swap");

/* Common styles */
body {
  font-family: "Poppins", sans-serif;
  font-size: 14px;
}

/* spinner style */
.spinner-border {
  width: 3em;
  height: 3em;
}

.book-cover-page {
  height: 180px;
}
